@keyframes blink-color {
    0% {
      color: initial; /* Màu sắc ban đầu */
    }
    50% {
      color: rgb(57, 57, 212); /* Màu sắc muốn nhấp nháy */
    }
    100% {
      color: initial; /* Trở lại màu sắc ban đầu */
    }
  }
  
  .blinking-li {
    animation: blink-color 2s linear infinite; /* Kích hoạt animation với thời gian 2 giây, lặp lại vô hạn */
  }
  